/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

.box {
	padding: 0px;
	margin: 0px;
}

@media (max-width: 576px)
{
	.box{
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: column-reverse;
	}
}